
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account Confirmation</title>
</head>
<body>
    <h3>A confirmation link has been sent to you. Please check your e-mail and click the link to confirm your account.</h3>
</body>
</html>
