
@{
    ViewData["Title"] = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BasicAuthentication.ViewModel.GroupManagement.Index
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <div class="container">
        <h3>Groups Management</h3>
        <div class="pb-3">
            <a asp-action="New" class="btn btn-primary">New Module</a>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var module in Model.Groups)
                {
                    <tr>
                        <th scope="row">
                            <a asp-action="Edit" asp-route-id="@module.Id">@module.Id</a>
                        </th>
                        <td>@Html.DisplayFor(modelItem => module.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

