<form method="post">
    <label>First Name</label>
    <input type="text" name="FirstName" />

    <label>Last Name</label>
    <input type="text" name="LastName" />

    <label>Email</label>
    <input type="text" name="Email" />

    <label>Password</label>
    <input type="password" name="Password" />

    <label>Confirm Password</label>
    <input type="password" name="ConfirmPassword" />

    <input type="submit" value="Register"/>
</form>